$icons: (
        sprite: (width: 681px, height: 577px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
accordion-arrow-s-g: (width: 21px, height: 12px, backgroundX: 0px, backgroundY: 0px),
accordion-arrow-s-o: (width: 21px, height: 12px, backgroundX: -21px, backgroundY: -12px),
btn-arrow: (width: 12px, height: 12px, backgroundX: -42px, backgroundY: -24px),
btn-arrow-d: (width: 14px, height: 8px, backgroundX: -54px, backgroundY: -36px),
btn-arrow-s-o: (width: 14px, height: 8px, backgroundX: -68px, backgroundY: -44px),
btn-user: (width: 12px, height: 12px, backgroundX: -82px, backgroundY: -52px),
checked: (width: 11px, height: 9px, backgroundX: -94px, backgroundY: -64px),
datapicker-s-b: (width: 18px, height: 17px, backgroundX: -105px, backgroundY: -73px),
datapicker-s-g: (width: 18px, height: 17px, backgroundX: -123px, backgroundY: -90px),
down-arrow: (width: 129px, height: 129px, backgroundX: -141px, backgroundY: -107px),
error-s: (width: 14px, height: 14px, backgroundX: -270px, backgroundY: -236px),
footer-email: (width: 19px, height: 14px, backgroundX: -284px, backgroundY: -250px),
footer-phone: (width: 19px, height: 19px, backgroundX: -303px, backgroundY: -264px),
logo: (width: 142.667px, height: 66.667px, backgroundX: -322px, backgroundY: -283px),
phone: (width: 16px, height: 16px, backgroundX: -465px, backgroundY: -350px),
phone2: (width: 16px, height: 16px, backgroundX: -481px, backgroundY: -366px),
portfolio-plus: (width: 40px, height: 40px, backgroundX: -497px, backgroundY: -382px),
slider-prev: (width: 43px, height: 43.469px, backgroundX: -537px, backgroundY: -422px),
slider-prev-hover: (width: 42px, height: 42.469px, backgroundX: -580px, backgroundY: -466px),
upload-close-s-g: (width: 14px, height: 14px, backgroundX: -622px, backgroundY: -509px),
upload-icon-s-b: (width: 16px, height: 19px, backgroundX: -636px, backgroundY: -523px),
upload-icon-s-g: (width: 16px, height: 19px, backgroundX: -652px, backgroundY: -542px),
upload-loaded-s-o: (width: 13px, height: 16px, backgroundX: -668px, backgroundY: -561px),
);