$fonts_dir: '../fonts/';

@mixin font($family, $name) {
  $font_file_path: $fonts_dir + $family;

  @font-face {
    font-family: $name;
    src: url($font_file_path+'.woff') format('woff'), url($font_file_path+'.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin font-mixin($font_name) {
  font-family: '#{$font_name}', 'Arial', 'Helvetica', 'Tahoma', sans-serif;
  font-weight: normal;
  font-style: normal;
}

@include font('Roboto/Light', 'Roboto-Light');
@mixin light() {
  @include font-mixin('Roboto-Light');
}

@include font('Roboto/Regular', 'Roboto-Regular');
@mixin regular() {
  @include font-mixin('Roboto-Regular');
}

@include font('Roboto/Medium', 'Roboto-Medium');
@mixin medium() {
  @include font-mixin('Roboto-Medium');
}

@include font('Roboto/Bold', 'Roboto-Bold');
@mixin bold() {
  @include font-mixin('Roboto-Bold');
}

@include font('Lato/Lato-Bold', 'Lato-Bold');
@mixin lato-bold() {
  @include font-mixin('Lato-Bold');
}

@include font('montserrat/Montserrat-Bold', 'Montserrat-Bold');
@mixin montserrat-bold() {
  @include font-mixin('Montserrat-Bold');
}
@include font('montserrat/Montserrat-Light', 'Montserrat-Light');
@mixin montserrat-light() {
  @include font-mixin('Montserrat-Light');
}
@include font('montserrat/Montserrat-Regular', 'Montserrat-Regular');
@mixin montserrat-regular() {
  @include font-mixin('Montserrat-Regular');
}
@include font('montserrat/Montserrat-Medium', 'Montserrat-Medium');
@mixin montserrat-medium() {
  @include font-mixin('Montserrat-Medium');
}

