<!-- build:scripts -->
<script src="support-libs.js"></script>


<script src='libs/jquery-ui.min.js'></script>
<script src='libs/locale.js'></script>
<script src='libs/slick.min.js'></script>
<script src='libs/wowjs.js'></script>

<script src="helpers/dropdown.js"></script>
<script src="helpers/popups.js"></script>
<script src="helpers/scroll.js"></script>
<script src="helpers/slider.js"></script>
<script src="helpers/burger.js"></script>

<script src="ui.js"></script>

<script>
  var wow = new WOW({
    offset: 30
  });
  wow.init();
</script>
<!-- endbuild -->
</body>

</html>
