</div>
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <a href="#">
               <img src="../static/images/logo6.png" alt="">
         </a>
        <div class="footer__logo__info">
            © ГО "НПЦ НАН Беларуси по материаловедению".
        </div>
      </div>
      <div class="footer__contact">
        <div class="footer__phone"><a href="tel: +375 (17) 284-15-58">+375 (17) 284-15-58</a></div>
         <div class="footer__email"><a href="mailto:priemnaya@physics.by">priemnaya@physics.by</a></div>
         <div class="footer__adress">220072, Республика Беларусь, Минск, ул Петруся Бровки, 19.</div>
      </div>
    </div>
  </div>
</footer>

</div>
</div>

{{> layout/bottom}}
