{{> layout/head}}
<div class="wrapper">
  <div class="wrapper__wrap">
    <header class='{{class}}'>
      <div class="container">
        <div class="header__inner">
          <div class="header__logo">
            <a href="home.html">
            <img src="../static/images/logo6.png" alt="">
         </a>
          </div>
          <nav class="header__nav">
            <ul class="nav__menu" id="header__nav">
              <li class="nav__item "><a class ='nav__link' href="home.html">Главная</a></li>
              <li class="nav__item sub-menu"><a class ='nav__link sub-menu__head' href="#">О центре</a>
                <ul class="sub-menu__body">
                  <li class="sub-menu__item"><a href="">История</a></li>
                  <li class="sub-menu__item"><a href="leaders.html">Руководство</a></li>
                  <li class="sub-menu__item"><a href="labs.html">Лаборатории и отделы</a></li>
                  <li class="sub-menu__item"><a href="contact.html">Контакты</a></li>
                </ul>


              </li>
              <li class="nav__item sub-menu"><a class ='nav__link sub-menu__head' href="#">Деятельность центра</a>
                <ul class="sub-menu__body">
                  <li class="sub-menu__item"><a href="">Основные разработки</a></li>
                  <li class="sub-menu__item"><a href="">Оборудование и технологии</a></li>
                  <li class="sub-menu__item"><a href="">Каталог организаций НПЦ</a></li>
                  <li class="sub-menu__item"><a href="">Образцы документов</a></li>

                </ul>
              </li>
              <li class="nav__item"><a class ='nav__link' href="contact.html">Контакты</a></li>
            </ul>
          </nav>
          <div class="mobile-menu">
            <input id="burger" type="checkbox" />

            <label for="burger">
    <span></span>
    <span></span>
    <span></span>
</label>

            <nav class="mobile__nav">
              <ul id="accordion" class="accordion">
                <li>
                  <a class="mobile__nav__link">Главная</a>
                </li>
                <li>
                  <a class="mobile__nav__link">О центре</a>
                  <ul class="submenu">
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">История</a></li>
                    <li><a href="leaders.htm">Руководство</a></li>
                    <li><a href="labs.html">Лаборатории и отделы</a></li>
                    <li><a href="contact.html">Контакты</a></li>


                  </ul>
                </li>
                <li>
                  <a class="mobile__nav__link">Деятельность центра</a>
                  <ul class="submenu">
                    <li><a href="#">Основные разработки</a></li>
                    <li><a href="#">Оборудование и технологии</a></li>
                    <li><a href="#">Каталог организаций НПЦ</a></li>
                    <li><a href="#">  Образцы документов</a></li>
                  </ul>
                </li>
                <li>
                  <a class="mobile__nav__link">Контакты</a>

                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div class="wrapper__inner">
