.footer {
background-color: #123a44;
margin-top: 20px;

&__inner {
padding-top: 20px;
padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
&__logo {
  &__info {
    margin-top: 10px;
    color:#fff;
  }

}
&__contact {
  max-width: 350px;
  div {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
&__phone {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    content: '';
  @include sprite('footer-phone');
}
}
&__email {
  position: relative;
  &:before {
    position: absolute;
    top: 3px;
    left: -25px;
    content: '';
  @include sprite('footer-email');
  }
}
&__email , &__phone {
  margin-left: 25px;
  font-size: 16px;
  line-height: 16px;
  @include montserrat-bold;
  color: #fff;
}
&__adress {
  font-size: 16px;
  line-height: 16px;
  @include montserrat-light;
  color: #fff;
}
}
