<main class="main">
  <div class="container">
    <div class="main-block__inner">
      <div class="main-block__content">
        <h1 class="main-block__title">го "нпц нан беларуси по материаловедению"</h1>
      </div>
    </div>
  </div>
  <div class="main__bg" style="background-image: url('../static/images/main-image3.jpg');"></div>
</main>
