<div class="main-slider">
  <div class="main-slider__inner" style=" background-image: url('../static/images/slider-bg.jpg');">
    <div class="main-slider__title">Lian Creative Agency</div>
    <div class="main-slider__text">Minimal Freelance Portfolio</div>
  </div>
  <div class="main-slider__inner " style=" background-image: url('../static/images/slider2-bg.jpg');">
    <div class="main-slider__title">Egor PAtsyno</div>
    <div class="main-slider__text">Minimal Freelance Portfolio</div>
  </div>
</div>
