{{!Шаблон страницы}}
{{> layout/header class="header header-black"}}
<div class="page-template">
  <div class="container">


    <div class="content">
      <div class="content-info">
      </div>
    </div>
  </div>
</div>



{{> layout/footer }}
