{{!Лаборатории}}
{{> layout/header class="header header-black"}}
<div class="page-template">
  <div class="container">

    <ul class="breadcrumbs">
      <li><a href="">lorem</a> </li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
    </ul>

    <div class="content">
      <div class="content-info">
        <div class="content-info__title">
          Лаборатории и отделы
        </div>
        <div class="labs">
          <ul class="labs-list">
            <li><a href="losp.html">Лаборатория оптической спектроскопии полупроводников</a></li>
            <li><a href="lftt.html">Лаборатория физики твёрдого тела</a></li>
            <li><a href="lfmp.html">Лаборатория физики магнитных плёнок</a></li>
            <li><a href="">Лаборатория физики полупроводников</a></li>
            <li><a href="">Лаборатория теории твёрдого тела</a></li>
            <li><a href="">Лаборатория физики высоких давлений и синтеза сверхтвердых материалов</a></li>
            <li><a href="">Лаборатория тугоплавкой керамики и наноматериалов</a></li>
            <li><a href="">Лаборатория радиационных воздействий</a></li>
            <li><a href="">Лаборатория физики магнитных материалов</a></li>
            <li><a href="">Лаборатория неметаллических ферромагнетиков</a></li>
            <li><a href="">Отдел криогенных исследований</a></li>
            <li><a href="">Лаборатория физики сверхпроводящих материалов</a></li>
            <li><a href="">Лаборатория электронной керамики</a></li>
            <li><a href="">Лаборатория физико-химических технологий</a></li>
            <li><a href="">Группа сопровождения</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{> layout/footer }}
