{{!Руководство}}
{{> layout/header class="header header-black"}}
<div class="page-template">
  <div class="container">

    <ul class="breadcrumbs">
      <li><a href="">lorem</a> </li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
      <li><a href="">lorem</a></li>
    </ul>

    <div class="content">
      <div class="content-info">
        <div class="content-info__title">
          Руководство центра
        </div>
        <div class="leaders leaders-slider">
          <div class="leaders-row">
   <div class="leaders-item">
            <div class="leaders-item__img">
              <img src="../static/images/fedosuk.jpg" alt="">

                    </div>
            <div class="leaders-item__info">
              <div class="leaders-item__name">Федосюк Валерий Михайлович </div>
              <div class="leaders-item__post">Генеральный директор </div>
              <div class="leaders-item__contact">
                <p>+375 (17) 284-27-91</p>
                <p>fedosyuk@physics.by</p>
              </div>
            </div>
          </div>
          <div class="leaders-item">
            <div class="leaders-item__img">
              <img src="../static/images/ignatenko.jpg" alt="">

                    </div>
            <div class="leaders-item__info">
              <div class="leaders-item__name">Игнатенко Олег Владимирович </div>
              <div class="leaders-item__post">Зам. ген. директора по научной и инновационной работе </div>
              <div class="leaders-item__contact">
                <p>+375 (17) 284-15-14</p>
                <p>ignatenko@physics.by</p>
              </div>
            </div>
          </div>
          </div>
       <div class="leaders-row">
          <div class="leaders-item">
            <div class="leaders-item__img">
              <img src="../static/images/saiko.jpg" alt="">

                    </div>
            <div class="leaders-item__info">
              <div class="leaders-item__name">Сайко Александр Петрович </div>
              <div class="leaders-item__post">Зам. ген. директора по научной работе </div>
              <div class="leaders-item__contact">
                <p>+375 (17) 284-13-13</p>
                <p>saiko@physics.by</p>
              </div>
            </div>
          </div>

          <div class="leaders-item">
            <div class="leaders-item__img">
              <img src="../static/images/merkulov.jpg" alt="">

                    </div>
            <div class="leaders-item__info">
              <div class="leaders-item__name">Меркулов Владимир Сергеевич </div>
              <div class="leaders-item__post">Ученый секретарь </div>
              <div class="leaders-item__contact">
                <p>+375 (17)284-28-14</p>
                <p>merkul@physics.by</p>
              </div>
            </div>
          </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{{> layout/footer }}
