{{!Лаборатория физики магнитных пленок}}
{{> layout/header class="header header-black"}}
<div class="page-template">
  <div class="container">
{{> blocks/breadcrumbs}}

    <div class="content">
      <div class="content-info">
        <div class="content-info__title">
         Лаборатория физики магнитных пленок
        </div>
        <div class="labs-desc">

          <div class="labs-info">
            <p>Дата создания - 1965</p>
            <p>Количество сотрудников - 15:</p>
            <p>Докторов наук - 1</p>
            <p>Кандидатов наук - 5</p>
            <b>Основные направления НИОКР:</b>
            <p><b>Фундаментальные исследования</b></p>
            <p>
              <ul>
                <li>Теоретические и экспериментальные основы магнетизма тонкопленочных материалов</li>
                <li>Кинетические явления и поверхностные эффекты в наноразмерных магнитных структурах</li>
                <li>Магнетизм аморфных сплавов</li>
                <li>Межкристаллитное взаимодействие и процессы перемагничивания</li>
              </ul>
            </p>

            <p><b>Прикладные исследования</b></p>
            <p>
              <ul>
                <li>Исследование условий формирования и разработка методов получения мультислойных пленок, пленок со столбчатым типом микроструктуры, гранулированных и нанокристаллических сплавов, а также нанопроволок с заданными магнитными и другими свойствами</li>
                <li>Исследование строения и методов получения аморфных магнитных сплавов и разработка на их основе защитных и др. покрытий</li>
                <li>Разработка методов ионно-лучевого распыления-осаждения тонких пленок</li>
              </ul>
            </p>

             <p><b>Направления исследований и разработок по новым, приоритетным направлениям</b></p>
            <p>
              <ul>
                <li>Разработка научных основ создания тонкопленочных наноструктур с высокими параметрами для магнитной микроэлектроники</li>
                <li>Исследование магниторезистивных свойств в мультислойных пленках и наноструктурах.; природа гигантского магнитосопротивления в неоднородных сплавах и нанопроволоках</li>
                <li>Получение и исследование свойств магнитных нанофазных структур в матрице анодного оксида алюминия</li>

              </ul>
            </p>

            <p><b>Новые формирующиеся направления исследований</b></p>
            <p>
              <ul>
                <li>Разработка и исследование магнитных наноструктур на основе мультислойных, гранулированных и нанокристаллических тонких пленок для магнитной микроэлектроники</li>
                <li>Исследование взаимодействия пучков ионов (с энергиями от 10 эВ до 10 кэВ) различных газов, в том числе и химически активных (Аr, С, О и их соединения), с поверхностью твердого тела и тонкими пленками.</li>

              </ul>
            </p>

          </div>

          <div class="leaders">
            <div class="leaders-item">
              <div class="leaders-item__img">
                <img src="../static/images/fedosuk (1).jpg" alt="">

                    </div>
              <div class="leaders-item__info">
                <div class="leaders-item__name">Федосюк Валерий Михайлович </div>
                <div class="leaders-item__post">Руководитель лаборатории </div>
                <div class="leaders-item__post">доктор физ.-мат. наук </div>
                  <div class="leaders-item__post">член-корреспондент </div>
                    <div class="leaders-item__post">директор Института </div>
                <div class="leaders-item__contact">
                  <p>+375 (17) 284-11-85</p>
                  <p>fedosyuk@physics.by</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{{> layout/footer }}
