{{!Лаборатория физики твердого тела}}
{{> layout/header class="header header-black"}}
<div class="page-template">
  <div class="container">
{{> blocks/breadcrumbs}}

    <div class="content">
      <div class="content-info">
        <div class="content-info__title">
         Лаборатория физики твердого тела
        </div>
        <div class="labs-desc">

          <div class="labs-info">
            <p>Дата создания - 1965</p>
            <p>Количество сотрудников - 11:</p>
            <p>Докторов наук - 2</p>
            <p>Кандидатов наук - 5</p>
            <b>Основные направления НИОКР:</b>
            <p><b>Фундаментальные исследования</b></p>
            <p>
              <ul>
                <li>Химическая связь в кристаллах и их свойства</li>
                <li>Фазовые переходы в сегнетоэлектриках</li>
              </ul>
            </p>

            <p><b>Прикладные исследования</b></p>
            <p>
              <ul>
                <li>Разработка технологии получения монокристаллов соединений группы А2В5 и их твердых растворов</li>
                <li>Разработка полупроводниковых и сегнетоэлектрических материалов в виде монокристаллов и керамики для электронной и оптоэлектронной техники</li>
                <li>Направления исследований и разработок по новым, приоритетным направлениям</li>
                <li>Исследование характеристик реальной кристаллической структуры и физических свойств стабильных и метастабильных фаз</li>
                <li>Комплексное исследование влияния состава, дефектов кристаллической структуры и примесей на физические свойства сегнетоэлектриков, в том числе релаксорных</li>
                <li>Природа образования модулированных структур в кристаллах</li>
                <li>Физические свойства кристаллов с несоразмерными фазами</li>
              </ul>
            </p>

            <p><b>Новые формирующиеся направления исследований</b></p>
            <p>
              <ul>
                <li>Динамика решетки и фазовые превращения в сегнетоэлектрических и диэлектрических кристаллах с модулированными структурами</li>
                <li>Влияние примесей, электронного и гамма-облучения на физические свойства сегнетоэлектрических материалов</li>
                <li>Разработка технологии выращивания и получение совершенных монокристаллов дифосфидов цинка и кадмия, пригодных в качестве элементов для оптоэлектроники</li>
                <li>Новые не содержащие свинца оксидные сегнетоэлектрические материалы</li>

              </ul>
            </p>

          </div>

          <div class="leaders">
            <div class="leaders-item">
              <div class="leaders-item__img">
                <img src="../static/images/gremenok.jpg" alt="">

                    </div>
              <div class="leaders-item__info">
                <div class="leaders-item__name">Гременок Валерий Феликсович </div>
                <div class="leaders-item__post">Руководитель лаборатории </div>
                <div class="leaders-item__post">доктор физ.-мат. наук </div>
                <div class="leaders-item__contact">
                  <p>+375 (17) 284-12-49</p>
                  <p>gremenok@physics.by</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{{> layout/footer }}
