{{!Лаборатория оптической спектроскопии полупроводников}}
{{> layout/header class="header header-black"}}
<div class="page-template">
  <div class="container">
{{> blocks/breadcrumbs}}
    <div class="content">
      <div class="content-info">
        <div class="content-info__title">
          Лаборатория оптической спектроскопии полупроводников
        </div>
        <div class="labs-desc">

          <div class="labs-info">
            <p>Дата создания – 2018</p>
            <p>Количество сотрудников - 5:</p>
            <p>Кандидатов наук - 2</p>
            <b>Основные направления НИОКР:</b>
            <p><b>Фундаментальные исследования</b></p>
            <p>
              <ul>
                <li>Определение фундаментальных оптических параметров полупроводников и диэлектриков;</li>
                <li>Определение природы дефектов и структурного совершенства полупроводников методами оптической спектроскопии (монокристаллы, тонкие пленки), используемых для изготовления солнечных элементов и приборов оптоэлектроники.</li>
              </ul>
            </p>

            <p><b>Прикладные исследования</b></p>
            <p>
              <ul>
                <li>Разработка и совершенствование оптических методов диагностики полупроводников и диэлектриков;</li>
                <li>Разработка физико-технологических основ создания солнечных элементов на основе многокомпонентных полупроводников со структурой халькопирита и кестерита.</li>
              </ul>
            </p>

            <p><b>Новые формирующиеся направления исследований</b></p>
            <p>
              <ul>
                <li>Разработка физико-технологических основ создания светоизлучающих элементов для инфракрасной области спектра на наноструктурах Ge/Si с квантовыми точками (кольцами) Ge, в том числе, с наночастицами металлов (Au, Ag и др.),
                  обеспечивающих экситон - плазмонное взаимодействие и повышение квантового выхода излучения.</li>

              </ul>
            </p>

          </div>

          <div class="leaders">
            <div class="leaders-item">
              <div class="leaders-item__img">
                <img src="../static/images/leonchik.jpg" alt="">

                    </div>
              <div class="leaders-item__info">
                <div class="leaders-item__name">Леончик Сергей Викентьевич </div>
                <div class="leaders-item__post">Руководитель лаборатории </div>
                <div class="leaders-item__post">кандидат физ.-мат. наук </div>
                <div class="leaders-item__contact">
                  <p>+375 (17) 284-11-22</p>
                  <p>leonchik@physics.by</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



{{> layout/footer }}
